*{
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #153677, #4e085f);
}
.container{
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 45vh;

}
form{
    padding: 1rem 0 1rem 0;
}
form select, input, button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}
#drp{
padding-top: 1rem;
}
.msg{
    padding-top: 2rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 0.75rem;


}
form button{
    height: 2rem;
    background: linear-gradient(135deg, #153677, #4e085f);
    color: #fff;
}
